
  @import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Oswald:wght@500&family=Poppins:wght@200&family=Raleway&family=Roboto:wght@500&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

/* variables */
:root{
    --navbar-font : sans-serif;
    --navbar-hover: rgb(125, 86, 86);
    --navbar-fontcolor:rgb(27, 116, 150);
    --btn-apply:rgb(0, 174, 242);
    --btn-apply-font:rgb(36, 51, 40);
    --btn-apply-hover:rgb(73, 88, 103);
}

/* navbar */
.navbar{
    display: flex;
    padding: 15px;
}

.navbar-logo{
    height: 50%;
}

.navbar-items{
    position: absolute;
    top: 45px;
    left: 450px;
}
.navbar-items ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
    font-family: var(--navbar-font);
}

.navbar-items a{
    text-decoration: none;
    padding-left: 15px;
    color: var(--navbar-fontcolor);
    letter-spacing: 0.8px;

}

.navbar-items a:hover,
.navbar-items a.active{
    color: var(--navbar-hover);
    border-bottom: 1.7px solid var(--navbar-hover);
    cursor: pointer;
}

/* hero-section */

.hero-bg{
    position: absolute;
    top: 120px;
    width: 100%;
    height: 80%;
}

.hero-description{
    position: relative;
    box-sizing: border-box; 
    z-index: 10;
    line-height: 80px;
}

.hero-background{
    display: flex;
    justify-content: center; 
}

.hero-description h1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: -2px;
    color:rgb(84,41,41) ;
}

.hero-description h3{
    padding-left: 180px;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 400;
}

.btn-apply{
    padding-left: 350px;
}

.hero-btn{
    background-color:var(--btn-apply) ;
    border: 1px solid var(--btn-apply);
    width: 130px;
    height: 55px;
    border-radius: 24px;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: 300;
    color: rgb(36, 51, 40);
    cursor: pointer;
}

.hero-btn:hover,
.btn-contactus:hover{
    background-color: var(--btn-apply-hover);
    color: rgb(255, 255,255);
    border-color: var(--btn-apply-hover);
}


/* section hero2 */
.hero2{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100wh; 
    height: 60vh;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 60px;
    top: 200px;
    gap: 30px;
}

.hero2 h3{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-family: 400;
}

.para1,
.para2{
    font-family: Nunito Sans;
    font-size: 18px;
    word-spacing: 3.5px;
    line-height: 25px;
}

.para1 span,
.para2 span{
    font-size: 20px;
    font-weight: 800;
}

/* hero3 */

.hero3{
    width: 100wh;
    height: 80vh;
    position: relative;
    top: 180px;
    background-color: rgb(231, 237, 240);
}

.hero3 h1{
    padding-top: 30px;
    color: rgb(75, 129, 150);
    text-decoration: underline;
    font-size: 40px;
    font-family: Noto Sans JP;
    text-align: center;
}

.hero3-content{
    display: flex;
}

.hero3-content .para{
    padding-top: 30px;
   line-height: 30px;
}

.para{
    padding-left: 60px;
}

.para h3{
    font-size: 40px;
    line-height: 30px;
    color: rgb(48, 63, 78);
}

.p{
    margin-top: 70px;
}
.para p{
    font-size: 19px;
    line-height: 30px;
}

.img-desktop{
    position: relative;
    top: 50px;
    width: 40%;
    height: 60%;
}

.para button{
    margin-top: 30px;
    margin-left: 100px;
}
.btn-contactus{
    width: 130px;
    height: 60px;
    background-color: var(--btn-apply);
    font-size: 20px;
    color: rgb(36, 51, 40);
    font-family: var(--btn-apply-font);
    border-radius: 23px;
    border-color: var(--btn-apply);
}







